.text-center {
    text-align: center;
}

.bg-blueviolet{
    background: blueviolet;
}
.flex{
    display: flex;

}
.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}